p{
    color: white;
    margin: 50px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.gameContainer{
    background-color: orangered;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content:space-around;
}

.inputNbr{
    width: 10%;
}