:root {
    --lightpaleblue: hsl(225, 100%, 98%);
    --paleblue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --desaturatedblue: hsl(224, 23%, 55%);
}

body {
    background: url(images/pattern-background-desktop.svg);
    background-color: aliceblue;
    background-size: 100%;
    background-repeat: no-repeat;
}

p {
    margin: 10%;
}

* {
    font-family: "Red Hat Display";
    text-align: center;
    font-weight: 500;
}

a {
    font-weight: 700;
    font-size: 14px;
    color: var(--brightBlue);
    text-align: center;
    margin: 25px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
}

.container.page {
    margin-top: 10%;
    margin-bottom: 10%;
}

.container.summary {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.container.plan {
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--lightpaleblue);
    margin: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.container.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.subText {
    font-weight: 300;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
}

.subText.price {
    margin: 0;
    margin-top: 5px;
    text-align: left;
}

#title {
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 5%;
    font-size: 20px;
}

#planTitle {
    font-weight: 900;
    text-align: left;
    margin: 0;
}

#icon {
    align-self: center;
    margin: 25px;
}

#imageSummary {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
}

.button {
    text-align: center;
    width: 80%;
    margin: 10px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-weight: 700;
    transition-duration: .25s;
}

.button.payment {
    background-color: var(--brightBlue);
    color: white;
}

.button.payment:hover {
    background-color: var(--desaturatedblue);
    filter: drop-shadow(0 15px 10px hsl(224, 23%, 55%));
}

.button.cancel {
    color: gray;
    width: 25%;
}

.button.cancel:hover {
    color: black;
}