@model List<Categorie>

<h1 class="text-center">Liste des catégories</h1>


<p><a asp-action="AjoutCategorie" asp-controller="Home">+ Ajouter une catégorie</a></p>

<div class="container d-flex flex-wrap justify-content-between coucou">
    @foreach (Categorie c in Model.OrderBy(c => c.Nom))
    {
        <div class="card m-2 p-2" style="width: 300px;">
            <div class="card-title text-center"><h5>@c.Nom</h5> </div>
            <div class="card-body">
                <p><a asp-area="" asp-controller="Home" asp-action="DetailsCategorie" asp-route-id=@c.Id class="text-info voir">Afficher les produits de la catégorie</a></p>
                <p><a asp-action="ModifierCategorie" asp-controller="Home" asp-route-id=@c.Id class="text-success editer">Éditer la catégorie</a></p>
                <p><a asp-action="DeleteCategorie" asp-controller="Home" asp-route-id=@c.Id class="text-danger supprimer">Supprimer la catégorie</a></p>
            </div>
        </div>
    }
</div>