<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div>
        <div>
            Début du layout Custom
        </div>
        <main>
            @RenderBody()
        </main>
        <div>
            Fin du layout Custom
        </div>
    </div>
</body>
</html>
